doctype html
html(ng-app='phonecatApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(src='/javascripts/controller/appController.js')
  body
    div(ng-controller="PhoneListCtrl")
     h2
       {{user.first}} {{user.last}}
     ul
       li(ng-repeat="phone in phones"){{phone.name}}
